body{
  font-family: sans-serif;
  background-color: #3496eb;
}
header h1 {
    text-align: center;
}
h2 {
    text-align: center;
}/*Зроби цей сайт красивим 😉*/
h3 {
    text-align: center;
}

nav a {
    color: white;
}
